@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  background-color: #F9FAFF;
}

ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-btn{
  background-color:#1D5ECD ;
  height: 40px;
}